.area-column {
  border: 1px solid;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #f1f1f1;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.customer-name {
  cursor: pointer;
  margin-bottom: 5px;
}

.customer-info {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  background-color: white;
  display: none;
}

.navbar-fixed {
  position: sticky;
  top: 0;
  z-index: 1030; /* Increase z-index to avoid the header shuffling issue */
}

body {
  padding-top: 70px;
}

.btn {
  font-size: 1.2em;
  padding: 10px 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header .btn {
  flex-grow: 1;
  font-size: 1.25rem; /* Increase the font size */
  padding: 10px 20px; /* Add more padding to the buttons */
}

