<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Area Breakdown</title>
</head>
<body>
    <div class="container-fluid">
        <div class="header w-100">    
            <a href="/" class="btn btn-primary">Home</a>
            <button class="btn btn-primary">Area Breakdown</button>
            <button class="btn btn-primary">Customer Search</button>
            <button class="btn btn-primary">Statistics</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Misc.</div>
                    <div class="card-body">
                        <button class="btn btn-primary">Jane Smith</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Progreso</div>
                    <div class="card-body">
                        <button class="btn btn-primary">John Doe</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Los Venados</div>
                    <div class="card-body">
                        <button class="btn btn-primary">...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
